* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: white;
    --secondary: black;
    --background: rgb(27, 27, 27);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background);
    color: var(--primary);
}


/* Header Section */

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    width: 100%;
    background-color: #292424;
    backdrop-filter: blur(2px);
}

.heroname {
    font-size: 2em;
    color: var(--primary);
    text-decoration: none;
}

.heroname:hover {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 4px;
    color: #02d160;
}

.menu,
.cross {
    display: none;
    position: relative;
    height: 45px;
    width: 45px;
}

#togglenav {
    visibility: hidden;
}


/* Navigation Bar */

nav {
    position: sticky;
    top: 56px;
}

.navigationBar {
    display: flex;
    justify-content: space-around;
    padding: 10px 20px;
    height: auto;
    background-color: #5a5e53;
    backdrop-filter: blur(2px);
}

.navitem {
    list-style: none;
}

.navlink {
    text-decoration: none;
    color: var(--primary);
    font-size: 1.5em;
}

.navlink:hover {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 4px;
    color: #ffc107;
}


/* Main Content */

section {
    padding: 108px 40px;
    border-bottom: 1px solid red;
}



/* Home Section */

.home {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.home p {
    font-size: 2.5em;
    margin: 5px auto;
}



/* About Section */

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}

.sectionName h1 {
    font-size: 4em;
    text-align: center;
}

.about .aboutContent {
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2em;
}

.aboutContent img {
    width: 50%;
    height: 23em;
    width: 23em;
}

.aboutContent p {
    width: 50%;
    font-size: 1.5em;
    line-height: 28px;
    letter-spacing: 1px;
}


/* Skills Section */

table {
    width: 100%;
    padding: 10px;
}

tr {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

tr th {
    text-align: left;
    font-size: 1.5em;
}

tr td {
    z-index: -1;
    display: block;
    height: 30px;
    width: 100%;
    background-color: #5a5e53;
    font-size: 24px;
    text-align: right;
}

.html {
    position: relative;
    top: -38px;
    width: 90%;
    background-color: #04AA6D;
}

.css {
    position: relative;
    top: -38px;
    width: 80%;
    background-color: #2196F3;
}


.js {
    position: relative;
    top: -38px;
    width: 65%;
    background-color: #f44336;
}


/* Projects Section */

.projectsContent {
    height: 80%;
    padding: 2em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    flex-wrap: wrap;
}

.projectsContent .card {
    height: 21em;
    width: 20em;
    flex-grow: 1;
    flex-shrink: 1;
}

.projectsContent .card .cardImage {
    height: 60%;
}

.projectsContent .card .cardImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#card-3 img {
    object-fit: fill;
}

.projectsContent .card .cardContent {
    background-color: #0f212e;
    height: 40%;
    padding: 10px 20px;
}

.projectsContent .card .cardContent h1 {
    font-size: 2em;
    text-align: center;
    padding: 5px;
}

.projectsContent .card .cardContent h1 a {
    text-decoration: none;
    color: rgb(199, 113, 113);
}


/* Contact Section */
.contact{
    border: none;
}
.contactForm label {
    font-size: 20px;
}

.contactForm form input,
textarea {
    outline: none;
    padding: 5px 8px;
    font-size: 18px;
    border: 1px solid black;
}

.contactForm form div:not(:last-child) {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contactForm form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.btn {
    width: 140px;
    height: 44px;
    background-color: rgba(229, 229, 229, 0.8);
    color: black;
    outline: none;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 5px;
    transition: transform .5s ease;
}

.btn:hover {
    background-color: #DE6135;
    box-shadow: 0 0 10px #DE6135;
    transform: scale(1.05);
}


/* Footer Section */

footer {
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 19px;
    text-align: center;
}
footer a{
    color: #DE6135;
    font-weight: bold;
}
footer .links{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    color: white;
}
footer .links a{
    color: white;
}

/* Responsive */

@media screen and (max-width:600px) {
    header img {
        background: none;
        height: 40px;
        width: 40px;
    }

    .navitem {
        text-align: center;
        padding: 10px 0;
    }

    .toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
    }

    #togglenav {
        visibility: hidden;
    }

    .toggle label {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 50%;
        right: 0%;
        transform: translate(-50%, -50%);
    }

    .toggle label .menu,
    .cross {
        display: none;
        width: inherit;
        height: inherit;
        cursor: pointer;
    }

    .toggle input:not(:checked)+label .menu {
        display: block;
    }

    .toggle input:checked+label .cross {
        display: block;
    }

    .navigationBar {
        display: none;
        position: absolute;
        width: 100%;
        z-index: 100;
        flex-direction: column;
        justify-content: space-evenly;
        height: 88.5vh;
        background-color: rgba(0, 0, 0, 0.6);
    }

    .home p {
        font-size: 1.7em;
    }

    .aboutContent {
        flex-direction: column;
    }

    .aboutContent img {
        height: 19em;
        width: 19em;
    }

    .aboutContent p {
        width: 100%;
        text-align: center;
    }

    .projectsContent {
        flex-direction: column;
    }

    .projectsContent .card {
        width: 90%;
    }
    .projectsContent .card .cardContent h1 {
        font-size: 1.5em;
    }
}


@media screen and (max-width:320px) {
    .home p {
        font-size: 1.2em;
    }

    .aboutContent img {
        height: 14em;
        width: 14em;
    }

    .aboutContent p {
        font-size: 16px;
    }

    .projectsContent .card {
        height: 17em;
        overflow: hidden;
    }

    .projectsContent .card .cardContent h1 {
        font-size: 1em;
    }

    .projectsContent .card .cardContent p {
        font-size: 0.8em;
        letter-spacing: .5px;
    }
}